<div class="container mx-auto">
		<h2>Modifier/ ajouter exemplaire</h2>

	<th:block th:object="${exemplaire}">
	
		<form action="enregistrer" method="post">

			<input type="hidden" th:field="*{no_exemplaire_jeu}" id="no_exemplaire_jeu">

			<div>
				<label for="codebarre">CodeBarre : </label> <input type="text"
					th:field="*{codebarre}" id="codebarre">
				<div style="color: red;" th:if="${#fields.hasErrors('codebarre')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('codebarre')}"
							th:text="${erreur}"></li>
					</ul>
				</div>
			</div>

			<div>
				<label for="louable">Louable : </label> <input type="checkbox"
					th:field="*{louable}" id="louable">
				<div style="color: red;" th:if="${#fields.hasErrors('louable')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('louable')}"
							th:text="${erreur}"></li>
					</ul>
				</div>

			</div>
			<button type="submit">Enregistrer</button>

		</form>
	</th:block>
</div>