<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 m-10">

	<div
		class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition duration-300">
		<h1 class="text-xl font-bold mb-2">[[${jeu.titre}]]</h1>

		<div>
			<span>Référence : </span> <span th:text="${jeu.reference}"></span>
		</div>
		<div>
			<span>Description : </span> <span th:text="${jeu.description}"></span>
		</div>
		<div>
			<span>Tarif à la journée : </span> <span>[[${jeu.tarifJournee}]]
				Euros</span>
		</div>
		<div>
			<span>Age minimum : </span> <span>[[${jeu.ageMin}]] ans</span>
		</div>
		<div>
			<span>duree : </span> <span>[[${jeu.duree}]] minutes</span>
		</div>
		<div>
			<span>Genres :</span>
			<th:block th:each="genre: ${jeu.genres}">
				<span th:text="${genre.libelle}"></span>&nbsp;
            </th:block>
		</div>
		<div>
			<a th:href="@{'afficher/ajouter'}" class="text-green-500 hover:text-green-700"> <i
				class="fas fa-plus"></i> <span> Ajouter un exemplaire</span>
			</a>
		</div>

	</div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 m-10">

	<div th:each="exemplaire: ${exemplaires}"
		class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition duration-300">
		<h2 class="text-xl font-bold mb-2">
			Exemplaire n°<span th:text="${exemplaire.no_exemplaire_jeu}">
		</h2>
		<p class="text-gray-600">
			Codebarre : <span th:text="${exemplaire.codebarre}"></span>
		</p>
		<p class="text-gray-600">
			Louable : <span th:text="${exemplaire.louable} ? 'Oui' : 'Non'"></span>
		</p>
		<p>
			<a th:href="@{'afficher/modifier/' + ${exemplaire.no_exemplaire_jeu}}" class="text-blue-500 hover:text-blue-700"> <i
				class="fas fa-pencil-alt"></i> <span> Modifier</span>
			</a>
		</p>
		<p>
			<a th:href="@{'afficher/supprimer/' + ${exemplaire.no_exemplaire_jeu}}" class="text-red-500 hover:text-red-700"> <i
				class="fas fa-trash"></i> <span> Supprimer</span>
			</a>
		</p>
		<p>
			<a class="text-green-500 hover:text-green-700"> <i
				class="fas fa-snowboarding"></i> <span> Louer</span>
			</a>
		</p>
	</div>

</div>
